body {
  text-align: center;
  background-color: rgb(78, 78, 78);
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
  color: rgb(231, 216, 187);
}
